.portfolio-container:nth-child(even) .project_items {
  flex-direction: row;
  transition: flex-direction 0.3s ease-in-out;
}

.project_items__content {
  transition: transform 0.6s ease-in-out;

  &:hover {
    transform: translateX(5%);
    .right-arrorw {
      transform: rotate(0deg);
    }
  }
}

.repo-btn {
  transition: all 0.7s ease-in-out;

  svg {
    transition: transform 0.7s ease-in-out;
  }

  &:hover {
    background-color: #fff;
    color: #052824;
    svg {
      animation: move 1s ease-in-out;
      fill: #052824;
    }
  }

  &:active {
    transform: scale(0.9);
  }
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(10px);
  }
}
